################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductService/config
/.vs/ProductService/DesignTimeBuild
/bin/Debug/net8.0
/.vs/ProductService/copilot-chat/3a85c03c/sessions
/.vs/ProductService/CopilotIndices/17.14.719.50355
/.vs/ProductService/CopilotIndices/17.14.719.50355/CodeChunks.db
