################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductService/config
/.vs/ProductService/DesignTimeBuild
/bin/Debug/net8.0
